* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f4ff;
}

.error {
  text-align: center;
  margin: 40% auto;
}

.card-container {
  padding: 4%;
  display: grid;
  width: 100%;
  grid-gap: 3%;
  align-content: space-evenly;
  grid-template-columns: auto auto auto auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgb(236, 103, 62);
  padding: 3px;
}

.footer > a {
  color: white;
  text-decoration: underline;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.footer > a:nth-of-type(2) {
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  margin-left: 2%;
}

@media only screen and (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .card-container > div {
    margin-bottom: 3%;
  }
}
